@import "@shared/styles/theme/colors.scss";

.heroSection {
  height: 342px;
  max-height: 342px;
  max-width: 100%;
  padding-top: 53px;
  //background: #FFFFFF url('../../../public/RedLines.svg') no-repeat;
  background-color: #FFFFFF;
  background-position-x: center;
  filter: drop-shadow(11px 6px 12px rgba(0.658823549747467,0.658823549747467,0.658823549747467,0.09000000357627869));
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow-x: clip;
}

.heroBlock {
  max-width: 360px;
  height: 287px;
  max-height: 287px;
  margin-left: auto;
  margin-right: auto;
}

.heroText {
  margin-left: 34px;
  max-width: 147px;
}

.heroImg {
  left: 115px;
  top: -45px;
  z-index: -2;
  width: 254px;
  height: 334px;
  object-fit: contain;
}

.infoBlockDate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 328px;
  height: 92px;
  border: 1px solid $secondary-custom;
  border-radius: 8px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(110, 110, 110, 0.10);
}