.heroSection {
  position: relative;
  min-height: 637px;
  height: 637px;
  max-height: 637px;
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -72px;
  overflow-x: clip;
}

.heroMan {
  top: 48px;
  left: -30px;
  width: 426px;
  height: 538px;
  object-fit: cover;
}

.heroCard {
  width: 326px;
  padding: 21px 29px 22px 25px;
  overflow: hidden;
  border-radius: 16px;
  border: 1px solid #FFFFFF;

  background: rgba(217, 217, 217, 0.20);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  position: absolute;
  top: 433px;
  left: 19px;
}

.over {
  color: #fff;
  position: relative;
  z-index: 1;
}
