.SuccessModal {
  [class$="modal-content"] {
    border-radius: 16px !important;
    border: 1px solid #D5101C !important;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.SuccessModalBody {
  padding: 17px 40px 17px;
}

.textModalHeader {
  color: #D5101C;
  margin-top: 13px;
}