@import "@shared/styles/theme/colors.scss";

.boldText {
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: normal;

  &--27 {
    @extend .boldText;
    font-size: 27px;
  }

  &--25 {
    @extend .boldText;
    font-size: 25px;
  }

  &--24 {
    @extend .boldText;
    font-size: 24px;
  }

  &--22 {
    @extend .boldText;
    font-size: 22px;
  }

  &--20 {
    @extend .boldText;
    font-size: 20px;
  }

  &--13 {
    @extend .boldText;
    font-size: 13px;
  }

  &--10 {
    @extend .boldText;
    font-size: 10px;
  }
}

.regularText {
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: normal;

  &--22 {
    @extend .regularText;
    font-size: 22px;
  }

  &--20 {
    @extend .regularText;
    font-size: 20px;
  }

  &--19 {
    @extend .regularText;
    font-size: 19px;
  }

  &--18 {
    @extend .regularText;
    font-size: 18px;
  }

  &--17 {
    @extend .regularText;
    font-size: 17px;
  }

  &--16 {
    @extend .regularText;
    font-size: 16px;
  }

  &--15 {
    @extend .regularText;
    font-size: 15px;
  }

  &--14 {
    @extend .regularText;
    font-size: 14px;
  }

  &--13 {
    @extend .regularText;
    font-size: 13px;
  }

  &--12 {
    @extend .regularText;
    font-size: 12px;
  }

  &--11 {
    @extend .regularText;
    font-size: 11px;
  }

  &--10 {
    @extend .regularText;
    font-size: 10px;
  }

  &--8 {
    @extend .regularText;
    font-size: 8px;
  }
}

.textBlack {
  color: #000000;
}

.textGray {
  color: $secondary-dark-custom;
}

.textDark {
  color: $dark-custom;
}

.textRed {
  color: $primary-custom;
}

.lightText {
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: normal;

  &--24 {
    @extend .lightText;
    font-size: 24px;
  }
}