@import "@shared/styles/theme/colors.scss";

.blockFooter {
  background-color: $primary-custom;
}

.containerFooter {
  display: flex;
  justify-content: space-between;
  max-width: 360px;
  padding: 17px 16px;
  font-size: 10px;
}

.iconFooterLeft {
  padding-left: 12px;
}