@import "@shared/styles/theme/colors.scss";

.blockFooter {
  background-color: #FFFFFF;
}

.containerFooter {
  display: flex;
  border-top: 1px solid $primary-custom;
  color: $dark-custom;
  justify-content: space-between;
  max-width: 328px;
  padding: 9px 0 15px 0;
  margin: 0 16px;
  font-size: 13px;
}

.iconFooterLeft {
  padding-left: 12px;
}